html, body{
    width: 100;
    height: 100;
   
}
*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: violet;
}
nav li{ 
       list-style: none;
       padding: 1px 25px;
       /* color: cyan; */
}
th{
    border: 2px solid green;
}